        <div class="content-body">
            <div class="container-fluid pt-5">
                <div class="row">
                    <div class="col-md-12">
                        <div id="step-form-horizontal" class="step-form-horizontal">
                            <div>
                                <h4>Account Details</h4>
                                <section>
                                    <form method="post">
                                        <div class="row">
                                            <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="text" id="nama" name="nama" class="form-control" placeholder="Nama" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="text" id="nohp" name="nohp" class="form-control" placeholder="Nohp" required>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input type="text" id="alamat" name="alamat" class="form-control" placeholder="Alamat" required>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn mb-1 btn-primary">Tambah data</button>
                                </form>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>